.lang {
  margin: 22px 0 22px 30px;
  display: flex;
}
.lang p {
  margin: 22px;
  margin-left: 7px;
  font-size: 18px;
  font-family: sans-serif;
}
.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card_lan {
  box-shadow: 5px -4px 20px 0px #00dbdb;
  margin: 10px 1px;
}

:where(.css-dev-only-do-not-override-dkbvqv).ant-card .ant-card-body {
  height: 250px;
}
:where(.css-dev-only-do-not-override-dkbvqv).ant-card
  .ant-card-meta-description {
  color: white;
}
:where(.css-dev-only-do-not-override-dkbvqv).ant-card .ant-card-meta-title {
  font-size: 20px;
  font-family: cursive;
  color: white;
  font-weight: bold;
}
@media only screen and (max-width: 375px) {
  .lang h1 {
    font-size: 28px;
  }
  .lang p {
    font-size: 15px;
  }
}
